evals/benchmark/grafana/grafana-11.0.0.linux-amd64.tar.gz
evals/benchmark/grafana/grafana-v11.0.0/
evals/benchmark/grafana/prometheus-2.52.0.linux-amd64.tar.gz
evals/benchmark/grafana/prometheus-2.52.0.linux-amd64/